# Файл .env.example
# Переменные бд
POSTGRES_DB=db_name
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# Переменные джанго
DB_HOST=db_host
DB_PORT=5432
SECRET_KEY='secret_key'
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,...

# Переменные Go
DJANGO_API_URL: http://123:123